@import '../../scss/variables.scss';
@import '../../scss/mixings.scss';

.selectedStates {
  &--main__container {
    @include flexContainer(flex, column, unset, unset, unset);

    max-height: 600px;

    &:hover {
      box-shadow: 0px 0px 9px -3px $sky-blue;
      border: 1px solid $darker-sky-blue;
    }
    border-radius: 4px;
    box-shadow: 0px 0px 11px -2px $sky-blue;
    border: 1px solid $darker-sky-blue;
  }

  box-shadow: 0px 0px 11px -2px $sky-blue;
  border: 1px solid $darker-sky-blue;

  &--input__section {
    @include flexContainer(flex, unset, unset, unset, unset);
    padding: 5px;
  }
}

.slectedStates--dropDown-arrowImg {
  @include boxSize(9px, 10px);
  margin: 6px;
  align-self: center;
  background-position: center;
  background-size: cover;
  outline: none;
  position: absolute;
  right: -3px;
  bottom: -6.2px;
}

::-webkit-scrollbar {
  @include boxSize(10px, unset);
}

::-webkit-scrollbar-track {
  background: $light-grey;
}

::-webkit-scrollbar-thumb:vertical {
  background: $darker-grey;
  border-radius: 10px;
}

.button__dropDownStates {
  background: none;
  border: none;
  outline: none;
  @include boxSize(10px, 10px);
  align-self: center;
  position: relative;
}
