@import '../../scss/variables.scss';
@import '../../scss/mixings.scss';

.select__element {
  padding: 10px 0px 10px 10px;
  border: none;
  max-height: 250px;
  &:focus {
    outline: none;
  }
  width: 100%;
}

.select__element option {
  &:hover {
    background-color: $medium-light-grey;
  }

  &:checked {
    background-color: $medium-light-grey;
  }
}

.select__unexistingState--pgph {
  margin: 10px;
}
