.selectedStates {
	&--main__container {
		display: flex;
		flex-direction: column;
		max-height: 600px;
		&:hover {
			box-shadow: 0px 0px 9px -3px #c4e8ef;
			border: 1px solid #9dbec5;
		}
		border-radius: 4px;
		box-shadow: 0px 0px 11px -2px #c4e8ef;
		border: 1px solid #9dbec5;
	}

	box-shadow: 0px 0px 11px -2px #c4e8ef;
	border: 1px solid #9dbec5;

	&--list__states {
		display: flex;
		padding: 0px;
		list-style: none;
		margin: 0px;
		z-index: 5;
		flex-wrap: wrap;
		max-width: 300px;
		justify-content: space-between;
	}

	&--input__search-state {
		position: relative;
		border: transparent;
		padding: 5px;
		width: 150px;
		&:focus {
			outline: unset;
		}
	}

	&--list__states-state {
		background-color: rgb(238, 225, 225);
		display: flex;
		align-items: baseline;
		justify-content: space-evenly;
		padding: 5px;
		margin: 3px;
		border-radius: 3px;
	}

	&--states-pgph-elem {
		margin: 0px 5px 0px 0px;
		font-size: 13px;
		text-align: center;
		align-self: center;
	}

	&--input__section {
		display: flex;
		padding: 5px;
	}

	&--eliminate-state-Img {
		width: 8px;
		height: 8px;
		align-self: center;
	}
}

.hidden {
	display: none;
}

.selectedStates--select {
	padding: 10px;
	border: none;
	height: 300px;
	&:focus {
		outline: none;
	}
}
.selectedStates--select option {
	&:hover {
		background-color: rgb(192, 191, 191);

		&:checked {
			background-color: rgb(192, 191, 191);
		}
	}
}

.slectedStates--dropDown-arrowImg {
	width: 9px;
	height: 10px;
	margin: 6px;
	align-self: center;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(241, 238, 238);
}

/* Handle */
::-webkit-scrollbar-thumb:vertical {
	background: rgb(165, 165, 165);
	border-radius: 10px;
}
