@mixin boxSize($width, $height) {
  height: $height;
  width: $width;
}

@mixin flexContainer(
  $display,
  $flex-direction,
  $flex-wrap,
  $justify-content,
  $align-items
) {
  display: $display;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}
