//fonts

$font-primary: 'arial', sans-serif;

//colors

$sky-blue: #c4e8ef;

$darker-sky-blue: #9dbec5;

$light-grey: rgb(241, 238, 238);

$medium-light-grey: rgb(238, 225, 225);

$darker-grey: rgb(197, 197, 197);
