@import '../../scss/mixings.scss';

.input__search-state {
  height: 100%;
  position: relative;
  border: none;
  padding: 5px;

  @include boxSize(150px, unset);
  &:focus {
    outline: none;
  }
}

.form_inputSearch {
  @include flexContainer(flex, unset, unset, center, center);
}
