.input__search-state {
	height: 100%;
	position: relative;
	border: none;
	padding: 5px;
	width: 150px;
	&:focus {
		outline: none;
	}
}

.form_inputSearch {
	display: flex;
	align-items: center;
	justify-content: center;
}
