@import '../../scss/variables.scss';
@import '../../scss/mixings.scss';

.listSelectedStates {
  &--list__states {
    @include flexContainer(flex, unset, wrap, space-between, unset);
    z-index: 5;
    max-width: 450px;
  }

  &--list__states-state {
    background-color: $medium-light-grey;
    @include flexContainer(flex, unset, unset, space-evenly, baseline);
    padding: 4px 7px 4px 7px;
    margin: 3px;
    border-radius: 3px;
  }

  &--states-pgph-elem {
    margin: 0px 5px 0px 0px;
    font-size: 13px;
    text-align: center;
    align-self: center;
  }

  &--eliminate-state-Img {
    position: absolute;
    bottom: 1px;
    right: 1px;
    @include boxSize(8px, 8px);
  }
}

.listSelectedStates--button__eliminateState {
  background: none;
  border: none;
  outline: none;
  @include boxSize(10px, 10px);
  align-self: center;
  position: relative;
}
